<!-- app/templates/register.html -->
{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
<h1>Register</h1>
<form method="POST" action="">
    {{ form.hidden_tag() }}
    <div>
        {{ form.username.label }}<br>
        {{ form.username(size=32) }}<br>
    </div>
    <div>
        {{ form.email.label }}<br>
        {{ form.email(size=32) }}<br>
    </div>
    <div>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}<br>
    </div>
    <div>
        {{ form.confirm_password.label }}<br>
        {{ form.confirm_password(size=32) }}<br>
    </div>
    <div>
        {{ form.accept_tos() }} I accept the <a href="{{ url_for('terms_of_service') }}" target="_blank">Terms of Service</a> and <a href="{{ url_for('privacy_policy') }}" target="_blank">Privacy Policy</a><br>
    </div>
    <div>
        {{ form.submit() }}
    </div>
</form>
{% endblock %}
